@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



.loginBackground {
    padding-top: 80px;
    background-color: #F9F9F9;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;

}


.startText {
    padding-top: 50px;
    padding-left: 242px;
    padding-right: 200px;
    font-family: 'Poppins';
    font-size: 50px;
    font-style: normal;
    font-weight: 602;
    line-height: normal;
    text-align: start;
    background: linear-gradient(180deg, #6A82FF 0%, #E16AFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.loginContainer {
    display: block;
    justify-content: center;
    width: 400px;
    height: 600px;
    border-radius: 17.74px;
    background: #FFF;
    box-shadow: 0px 17.73954px 137.18575px 0px rgba(48, 56, 125, 0.12);
}

.LoginForm {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    box-sizing: border-box
        /* justify-content: center; */

}

.loginBoxHeaderText {
    margin-top: 10;
    color: rgba(48, 56, 125, 0.69);
    font-family: 'Gilroy';
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    text-align: start;
    padding-bottom: 10px;

}


.form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    box-sizing: border-box;

}

.form-group label {
    display: flex;
    color: rgba(48, 56, 125, 0.52);
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    padding-bottom: 10px;
    text-align: start;
}

.form-group input {
    width: 245px;
    height: 30px;
    border-radius: 8px;
    font-family: 'Poppins';
    font-size: 10px;
    font-style: italic;
    border: 1px solid rgba(48, 56, 125, 0.32);
    background: rgba(226, 226, 229, 0.18);

    &::placeholder {
        text-overflow: ellipsis !important;
        color: rgba(48, 56, 125, 0.35);
    }

}

.forgetPassword {
    color: #4D74F9;
    text-align: center;
    font-family: 'Gilroy';
    font-size: 12px;
    text-align: start;
    text-decoration: underline;
    line-height: normal;
}

.loginButton {
    width: 100%;
    height: 40px;
    background-color: #4D74F9;
    color: #fff;
    text-align: center;
    font-family: 'Gilroy';
    font-size: 16px;
    border-radius: 8px;
}


.loginWithText {
    color: #696D6D;
    font-family: 'Gilroy';
    font-size: 12px;
    font-weight: 200;
    line-height: 3;
}

.socialMediaLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.socialMediaLoginIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-right: 11px;
}

.svgIcon {
    width: 20px;
    height: 20px;
    border: none !important;
    background-color: transparent !important;
    outline: none;
    align-items: center;
}

.socialMediaButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid rgba(48, 56, 125, 0.32);
    align-items: center;
    box-sizing: border-box;
    padding-block: 10px;
}

.dontHaveAccount {
    display: flex;
    color: rgba(48, 56, 125, 0.69);
    text-align: center;
    font-family: 'Gilroy';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.signUpText {
    color: #4D74F9;
    text-align: center;
    font-family: 'Gilroy';
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-decoration: underline;
}

/* html,
.card {
    padding: 0px 15px;
    border-radius: 20px
} */

.c1 {
    background-color: #fff2f1;
    border-radius: 20px
}

a {
    margin: 0px;
    font-size: 13px;
    border-radius: 7px;
    text-decoration: none;
    color: black
}

a:hover {
    color: #e0726c;
    background-color: #fff2f1
}

.nav-link {
    padding: 1rem 1.4rem;
    margin: 0rem 0.7rem
}

.ac {
    font-weight: bold;
    color: #e0726c;
    font-size: 12px
}

input,
button {
    width: 96%;
    background-color: #fff2f1;
    border-radius: 8px;
    padding: 8px 17px;
    font-size: 13px;
    border: 1px solid #f5f0ef;
    outline: none;
}


/* input: {
    text-decoration: none
} */

.bt {
    background-color: #ff4133;
    border: 1px solid rgb(300, 200, 200)
}

form {
    margin-top: 70px
}

form>* {
    margin: 10px 0px
}

#forgot {
    margin: 0px -60px
}

#register {
    text-align: center
}

img {
    background-color: antiquewhite
}

.wlcm {
    font-size: 30px
}

.sp1 {
    font-size: 5px
}

.sp1>span {
    background-color: #f0c3be
}

/* body{height: 100%}body{background-color: #4052e4;display: grid;place-items: center} */